<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu swipeEnabled="false" contentId="main-content" type="overlay" side="start" menuId='startmenu'>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi&#64;ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" menu='startmenu'>
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu swipeEnabled="false" contentId="main-content" type="overlay" side="end" menuId='endmenu'>
      <ion-content>
        
        cart

      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-menu-toggle auto-hide="false" menu='endmenu'>
            <ion-button expand="block" fill="solid" shape="round" routerDirection="root"
              [routerLink]="[ceckoutUrl]" routerLinkActive="selected">
              Checkout
            </ion-button>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>