    .avatar {
        background-color: #ccc;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        background-image: url('/assets/shapes.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: auto;
    }