<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Checkout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="cartGroup">
      <form [formGroup]="cartGroup">
        <ng-template matStepLabel>Cart</ng-template>

        <ion-list>
          <ion-item-sliding *ngFor="let item of cartControls?.controls; let i = index">
            <ion-item>
              <ion-label>
                {{ item.get('productId')?.value }}
              </ion-label>
              <ion-label>
                {{ item.get('price')?.value }}
              </ion-label>
              <ion-label>
                {{ item.get('quantity')?.value }}
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon name="close"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-row class="ion-text-center">
          <ion-col size="6"></ion-col>
          <ion-col size="6">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </ion-col>
        </ion-row>
      </form>
    </mat-step>

    <mat-step [stepControl]="addressGroup">
      <ng-template matStepLabel>Addresses Review</ng-template>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-text>
              <h3>Billing</h3>
            </ion-text>
            <ion-button expand="block" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
          First_name: {{ addressControl('billing').value.first_name }}
          last_name: {{ addressControl('billing').value.last_name }}
          address_1: {{ addressControl('billing').value.address_1 }}
          address_2: {{ addressControl('billing').value.address_2 }}
          city: {{ addressControl('billing').value.city }}
          postcode: {{ addressControl('billing').value.postcode }}
          country: {{ addressControl('billing').value.country }}
          company: {{ addressControl('billing').value.company }}
          phone: {{ addressControl('billing').value.phone }}
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              <h3>Shipping</h3>
            </ion-label>
            <ion-button expand="block" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
          First_name: {{ addressControl('shipping').value.first_name }}
          last_name: {{ addressControl('shipping').value.last_name }}
          address_1: {{ addressControl('shipping').value.address_1 }}
          address_2: {{ addressControl('shipping').value.address_2 }}
          city: {{ addressControl('shipping').value.city }}
          postcode: {{ addressControl('shipping').value.postcode }}
          country: {{ addressControl('shipping').value.country }}
          company: {{ addressControl('shipping').value.company }}
          phone: {{ addressControl('shipping').value.phone }}
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col size="6">
          <button mat-button matStepperPrevious>Back</button>
        </ion-col>
        <ion-col size="6">
          <button mat-button matStepperNext>Next</button>
        </ion-col>
      </ion-row>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      <ion-row style="background-color: red; height: 700px;">
        <ion-col size="12"></ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="6">
          <button mat-button matStepperPrevious>Back</button>
        </ion-col>
        <ion-col size="6">
          <button mat-button matStepperNext>Next</button>
        </ion-col>
      </ion-row>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>

      <ion-row class="ion-text-center">
        <ion-col size="4">
          <button mat-button matStepperPrevious>Back</button>
        </ion-col>
        <ion-col size="4">
          <button mat-button matStepperPrevious (click)="submitForm()">
            Submit
          </button>
        </ion-col>
        <ion-col size="4">
          <button mat-button (click)="stepper.reset()">Reset</button>
        </ion-col>
      </ion-row>
    </mat-step>

  </mat-vertical-stepper>

</ion-content>